body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(43, 43, 43);
  margin: 0;
  padding: 0 20px;
  min-height: 100vh;
  background: rgb(238, 156, 167);
  background: linear-gradient(90deg, rgba(238, 156, 167, 1) 0%, rgba(255, 221, 225, 1) 100%, rgba(109, 213, 237, 1) 009245%);
}